body
    background-color #ededed

.control
    overflow hidden
    &__drag
        position absolute
        bottom 0
        left 0
        width 10%
        height 100%
        background-color rgba(0, 0, 0, .05)
        box-shadow 0 0 5px silver